:root
{
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}



a {
    color: inherit;
    text-decoration: none;
}

html
{
    color: white;
    scroll-behavior: smooth;
}
body {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}


/* ------- STARS ------- */

.bg {
    background-image: url("../img/cosmos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer {
    box-shadow: -411px -476px #ffffff, 777px -407px #ffffff, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
    524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
    440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
    -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
    828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
    563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
    -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;

    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 10s alternate infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 10s alternate infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 10s alternate infinite;
}

/* ------- STARS ------- */


.overflow-wrap {
    overflow-x: hidden;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex.wrap {
    flex-wrap: wrap;
}

/* -------------- SPACE -------------- */

.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

}

.space p {
    color: white;
    padding: 20px;
    font-size: var(--font-size-xl);
    text-align: center;
    border-bottom: 2px solid red;
    letter-spacing: -2px;
    margin: 7px 0;
}
.space p:hover {
    color: gold;
    transition: 0.5s;
    border-bottom: 2px solid green;

}
.space a
{
    color : white;
    font-family: Georgia sans-serif;
    text-decoration: none;

}
.space a:hover
{
    color : black;
    transition: 0.4s;
}
.main-windows-button {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    min-width: 9vw;
    min-height:5vw;
    font-size: var(--font-size-md);
    background: -webkit-linear-gradient(#ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    padding-min: 20px;
    transition: all 0.5s;
    border: 3px solid #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.main-windows-button a
{
    background-size: cover;
    display: flex;
}

/* -------------- SPACE -------------- */

/* -------------- NAV BAR -------------- */

nav {
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg in oklab, #000000, #2a0931, #93379f, #ff008d);
    border-bottom: 5px solid #000000;
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 99;
}

nav.overridden-nav
{
    /*display: none;*/
    position: absolute;
}
.disable-hover {
    pointer-events: none;
}
nav.overridden-nav.fixed {
    bottom: inherit;
    left: 0;
    top: 0;
    position: fixed;
}
nav.fixed.desk {
    animation: popDown 0.5s;
}
nav .link-wrap {
    background: #949494;
    height: 0;
    max-width: 1200px;
    overflow: hidden;
    position: absolute;
    top: 53px;
    transition: height 0.3s ease-out;
    width: 100%;
}
nav .link-wrap.visible {
    height: 220px;
}
nav .link-wrap div {
    cursor: pointer;
    font-size: 12pt;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: color 0.5s;
}
nav .link-wrap div:first-child {
    padding: 25px 20px 12px 20px;
}
nav .link-wrap div:hover {
    color: #ffb707;
}
nav .mdi-menu {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto 0;
    position: absolute;
    right: 5vw;
    top: 0;
}
nav .active {
    color: #ffb707;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 12pt;
    }

    nav .link-wrap {
        background: none;
        height: initial;
        overflow: visible;
        position: initial;
        text-align: left;
    }
    nav .link-wrap .visible {
        height: initial;
    }
    nav .link-wrap div {
        display: inline;
        font-size: initial;
        margin: 0 20px;
        padding: initial;
    }
    nav .link-wrap div:first-child {
        padding: 0;
    }
    nav .mdi-menu {
        display: none;
    }

}
@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}
/* -------------- NAV BAR -------------- */
.about{
    color: white;
    background-color: white;
    line-height: 11pt;
    padding: 70px 0 70px 0;
    height: 150vh;
    width: 100%;
    z-index: 2;
    position: relative;
}
.about h2
{
    color: #228181;
    font-size: 3vw;
    padding: 15px 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    font-family: "Raleway", sans-serif;
    border-bottom: 3px  solid #228181 ;
}

.container-about
{
    margin-right: 40vw;
    margin-top: 20vh;
    margin-left: 40vw;
}
section {
    color: white;
    line-height: 11pt;
    padding: 0;
    position: relative;
}

.intro-page
{
    position: relative;
    height: 100%;
}

/* SECOND PAGE */
.section-selector-1,.section-selector-2
{
    padding-top: 15vh;
    padding-bottom: 10vh;

}

.section-selector-1 .heading-underline
{
    color: #24a2a2;
}
.section-selector-2
{
    background-color: #b4b4b4;
    justify-content: center;

}

/* SECOND PAGE OFF */

/* Animation */

.about-text-animation
{
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
}
.about-text-animation-reveal
{
    opacity: 1;
    transform: translateX(0%);
}
.about-title-animation
{
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}
.about-title-animation-reveal
{
    opacity: 1;
    transform: translateX(0%);
}

.about-img-animation
{
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease, transform 1s ease;
}
.about-img-animation-reveal
{
    opacity: 1;
    transform: translateY(0%);
}
/*