/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
    scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

:root{
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}


/* Desktops */
@media (min-width: 768px) {
    body { padding: 4% 20% }
}

/* Mobiles */
@media (max-width: 767px) {
    body { padding: 8% 5% }
}

body {
    text-align: center;
    font-family: "Ubuntu", monospace;
    /*font-family: monospace;*/
    background-image: url("../img/hamster.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 4% 20%;
}

h1 {
    font-size: var(--font-size-xxxl);
    font-weight: normal;
    letter-spacing: -3px;
    margin-bottom: 12px;
    line-height: 1.2;
    font-family: sans-serif
}

h2 {
    font-size: var(--font-size-xl);
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: var(--font-size-lg);
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: var(--font-size-md);
    margin-bottom: 16px;
}

a { color: darkblue; }

.flexbox1{
    display:flex;
    justify-content:space-between;
    background-color: transparent;
    border: 4px solid transparent;
}
.box1, .box2 {
    margin-bottom: 42px;
    /*width: 40%;*/
}

div {
    background-color:rgb(198, 236, 236);
    padding: 16px;
    border:4px solid black;
    margin: 12px;
    width:100%;
}

a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #35a8b4;
    border-bottom: solid 2px #40c8d7;
}

/* Interactive link styles */
a:hover, a:focus, a:active {
    text-decoration: none;
    padding-bottom: 2px;
    color: #03214d;
    border-bottom: solid 2px blue;
}